---
import { getCollection } from 'astro:content';
import Icon from "../../components/icons/Icon.astro";
import { getLangFromUrl } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const aboutCollection = await getCollection('about');
const aboutContent = aboutCollection.find(entry => entry.slug === lang);

if (!aboutContent) {
  throw new Error(`Content for language ${lang} not found`);
}

const { data, body } = aboutContent;
const { title } = data;

const [part1, part2] = body.split('<!-- split -->');

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id}>
  <div class="container container--small">
    <h2 class="center-text">{title}</h2>
    <p class="center-text w-100" set:html={part1} />
    <div class="tiles">
      <div class="tile">
        <Icon name="parking" />
        <strong>Parkování<br />uvnitř areálu</strong>
      </div>
      <div class="tile">
        <Icon name="grill" />
        <strong>Venkovní posezení a trampolína<br />pro děti</strong>
      </div>
      <div class="tile">
        <Icon name="coffee" />
        <strong>Káva a čaj k dispozici během pobytu</strong>
      </div>
      <div>
        <div class="tile">
          <Icon name="kitchen" />
          <strong>Sdílená kuchyň pro hosty</strong>
        </div>
        <div class="tile">
          <Icon name="bus" />
          <strong>Zastávka MHD 30 metrů<br />(trolejbus 31)</strong>
        </div>
      </div>
    </div>
    <p class="center-text w-100" set:html={part2} />
    <div class="center-text m-y-3xl">
      <a href="#rooms" class="btn"> Vybrat pokoj </a>
    </div>
  </div>
</section>