---
import { getCollection } from 'astro:content';
import Icon from "../../components/icons/Icon.astro";
import { getLangFromUrl } from "../../i18n/utils";

interface AboutEntry {
  id: string;
  slug: string;
  body: string;
  collection: string;
  data: {
    title: string;
    tileParking: string;
    tileGrill: string;
    tileCoffee: string;
    tileKitchen: string;
    tileBus: string;
  };
  render: () => Promise<{ html: string }>;
}

const lang = getLangFromUrl(Astro.url);
const aboutCollection = await getCollection('about') as unknown as AboutEntry[];
const aboutContent = aboutCollection.find((entry: AboutEntry) => entry.slug === lang);

if (!aboutContent) {
  throw new Error(`Content for language ${lang} not found`);
}

const { data, body } = aboutContent;
const { title, tileParking, tileGrill, tileCoffee, tileKitchen, tileBus } = data;

const [part1, part2] = body.split('<!-- split -->');

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id}>
  <div class="container container--small">
    <h2 class="center-text">{title}</h2>
    <p class="center-text w-100" set:html={part1}></p>
    <div class="tiles">
      <div class="tile">
        <Icon name="parking" />
        <strong>{tileParking}</strong>
      </div>
      <div class="tile">
        <Icon name="grill" />
        <strong>{tileGrill}</strong>
      </div>
      <div class="tile">
        <Icon name="coffee" />
        <strong>{tileCoffee}</strong>
      </div>
      <div>
        <div class="tile">
          <Icon name="kitchen" />
          <strong>{tileKitchen}</strong>
        </div>
        <div class="tile">
          <Icon name="bus" />
          <strong>{tileBus}</strong>
        </div>
      </div>
    </div>
    <p class="center-text w-100" set:html={part2}></p>
    <div class="center-text m-y-3xl">
      <a href="#rooms" class="btn">Vybrat pokoj</a>
    </div>
  </div>
</section>