---
import { getCollection } from 'astro:content';
import Icon from "../../components/icons/Icon.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const aboutCollection = await getCollection('about');
const aboutContent = aboutCollection.find(entry => entry.slug === lang);

if (!aboutContent) {
  throw new Error(`Content for language ${lang} not found`);
}

const { data, body } = aboutContent;
const { title } = data;

const [part1, part2] = body.split('<!-- split -->');

interface Props {
  id: string;
}

const { id } = Astro.props;

const t = useTranslations(lang);
---

<section id={id}>
  <div class="container container--small">
    <h2 class="center-text">{title}</h2>
    <p class="center-text w-100" set:html={part1} />
    <div class="tiles">
      <div class="tile">
        <Icon name="parking" />
        <strong>{t('about.tile.parking')}</strong>
      </div>
      <div class="tile">
        <Icon name="grill" />
        <strong>{t('about.title.grill')}</strong>
      </div>
      <div class="tile">
        <Icon name="coffee" />
        <strong>{t('about.tile.coffee')}</strong>
      </div>
      <div>
        <div class="tile">
          <Icon name="kitchen" />
          <strong>{t('about.tile.kitchen')}</strong>
        </div>
        <div class="tile">
          <Icon name="bus" />
          <strong>{t('about.tile.bus')}</strong>
        </div>
      </div>
    </div>
    <p class="center-text w-100" set:html={part2} />
    <div class="center-text m-y-3xl">
      <a href="#rooms" class="btn" rel="noreferer" title={t('about.button.chooseRoom')}>{t('about.button.chooseRoom')}</a>
    </div>
  </div>
</section>