---
import Icon from "../../components/icons/Icon.astro";
import Map from "../../components/map/Map.astro";
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const aboutCollection = await getCollection('contact');
const aboutContent = aboutCollection.find(entry => entry.slug === lang);

if (!aboutContent) {
  throw new Error(`Content for language ${lang} not found`);
}

const { data, body } = aboutContent;
const { title } = data;

const [part1, part2] = body.split('<!-- split -->');

interface Props {
  id: string;
}

const { id } = Astro.props;

const t = useTranslations(lang);
---

<section id={id}>
  <Map />
  <div class="container">
    <div class="contact">
      <h2 class="extends-h3">{title}</h2>
      <p set:html={part1} />
      <h4>{t('contact.title.address')}</h4>
      <address>
        <strong>{t('contact.address.pension')}</strong><br />
        Krejčího 550/2<br />
        Brno 627 00<br />
        {t('contact.address.country')}
      </address>
      <span><b>{t('contact.address.vat')}</b>68645881</span>
      <h4>{t('contact.subtitle')}</h4>
      <div>
        <a href="mailto:info@elendris.cz" rel="noopener" title=`${t('reservation.formLabel.email')}: info@elendris.cz` class="link">
          <Icon name="envelope" />
          info@elendris.cz
        </a>
        <a href="tel:+420 603 999 579" rel="noopener" title=`${t('reservation.formLabel.phone')}: +420 603 999 579` class="link">
          <Icon name="phone" />
          +420 603 999 579
        </a>
      </div>

      <div class="contact__footer">
        <h4>{t('contact.subtitle2')}</h4>
        <p set:html={part2} />

        <div>
          <a href="https://waze.com/ul/hu2ezgbdb4" target="_blank" rel="external" title= {t('contact.btn.waze')} class="btn">
            <Icon name="waze" />
            {t('contact.btn.waze')}
          </a>
          <a href="https://maps.app.goo.gl/Arb6o1LRU5TvrY3w9" target="_blank" rel="external" title= {t('contact.btn.googleMaps')} class="btn btn--secondary">
            <Icon name="map" />
            {t('contact.btn.googleMaps')}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
