---
import Icon from "../icons/Icon.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

interface Props {
  id: string;
  title: string;
  imgSrc: string;
  imgCount: number;
  galeryFolder: string;
  price: number;
}

const { id, title, imgSrc, price, imgCount, galeryFolder } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<button class="card" id={`card-${id}`}>
  <img src={imgSrc} alt={title}  title={title}/>

  <div class="card__content">
    <strong>{title}</strong>
    <div class="btn btn--small btn--light">{t('rooms.btn.showRoom')}</div>
  </div>
</button>

<dialog class="detail" open={false} id={`dialog-${id}`}>
  <div class="detail__header">
    <h3>{title}</h3>
    <button
      class="detail__close"
      aria-label={t('room.label.closeDetail')}
      title={t('room.label.closeDetail')}
    >
      <Icon name="close" />
    </button>
  </div>
  <div class="detail__content">
    <slot name="room-description" />
    <div class="gallery">
      <a
        href={imgSrc}
        aria-label={t('room.label.showGallery')}
        title={t('room.label.showGallery')}
        data-fancybox={`room-${id}`}
        data-caption={`${title}`}
        rel="internal"
        class="gallery__item"
      >
        <img src={imgSrc} alt={title} title={title}/>
        <span class="gallery__item-btn">
          <Icon name="gallery" />
        </span>
      </a>
      <div class="detail__hidden-pics">
        <div class="detail__hidden-pics">
          {Array.from({ length: imgCount - 1 }).map((_, i) => {
            const imgUrl = `/images/rooms/${galeryFolder}/${galeryFolder}-${i + 2}.avif`;
            return (
              <a href={imgUrl} data-fancybox={`room-${id}`} data-caption={`${title}`} title={`${title}`} rel="internal"></a>
            );
          })}
        </div>
      </div>
    </div>
    <h4>{t('room.subtitle')}</h4>
    <ul>
      <li>
        <Icon name="wifi" />
        {t('room.equipment.wifi')}
      </li>
      <li>
        <Icon name="clima" />
        {t('room.equipment.airCondition')}
      </li>
      <li>
        <Icon name="bath" />
        {t('room.equipment.bathroom')}
      </li>
      <li>
        <Icon name="drink" />
        {t('room.equipment.drink')}
      </li>
      <li>
        <Icon name="food" />
        {t('room.equipment.breakfast')}
      </li>
    </ul>
  </div>
  <div class="detail__footer">
    <div class="detail__price">
      <span>{t('room.label.price')}</span>
      <strong>{`${price.toString()} Kč`}</strong>
    </div>
    <button class="btn" data-reservation>{t('room.btn.reservation')}</button>
  </div>
</dialog>
