---
import Icon from "../icons/Icon.astro";

interface Props {
  id: string;
  title: string;
  imgSrc: string;
  imgCount: number;
  galeryFolder: string;
  price: number;
}

const { id, title, imgSrc, price, imgCount, galeryFolder } = Astro.props;
---

<button class="card" id={`card-${id}`}>
  <img src={imgSrc} alt={title} />

  <div class="card__content">
    <strong>{title}</strong>
    <div class="btn btn--small btn--light">Zobrazit detail</div>
  </div>
</button>

<dialog class="detail" open={false} id={`dialog-${id}`}>
  <div class="detail__header">
    <h3>{title}</h3>
    <button
      class="detail__close"
      aria-label="Zavřít detail pokoje"
      title="Zavřít detail pokoje"
    >
      <Icon name="close" />
    </button>
  </div>
  <div class="detail__content">
    <slot name="room-description" />
    <div class="gallery">
      <a
        href={imgSrc}
        aria-label="Zobrazit fotogalerii"
        data-fancybox={`room-${id}`}
        data-caption={`${title}`}
        title="Zobrazit fotogalerii"
        rel="internal"
        class="gallery__item"
      >
        <picture>
          <img src={imgSrc} alt={title} />
        </picture>
        <span class="gallery__item-btn">
          <Icon name="gallery" />
        </span>
      </a>
      <div class="detail__hidden-pics">
        <div class="detail__hidden-pics">
          {Array.from({ length: imgCount - 1 }).map((_, i) => {
            const imgUrl = `images/rooms/${galeryFolder}/${galeryFolder}-${i + 2}.avif`;
            return (
              <a href={imgUrl} data-fancybox={`room-${id}`} data-caption={`${title}`} rel="internal"></a>
            );
          })}
        </div>
      </div>
    </div>
    <h4>Vybavení pokoje</h4>
    <ul>
      <li>
        <Icon name="wifi" />
        Vysokorychlostní Wi-Fi
      </li>
      <li>
        <Icon name="clima" />
        Klimatizace
      </li>
      <li>
        <Icon name="bath" />
        Prostorná koupelna, základní hygienický set, fén na vlasy
      </li>
      <li>
        <Icon name="drink" />
        Pivo nebo voda po příchodu
      </li>
      <li>
        <Icon name="food" />
        Snídaně v ceně
      </li>
    </ul>
  </div>
  <div class="detail__footer">
    <div class="detail__price">
      <span>Cena od / noc</span>
      <strong>{`${price.toString()} Kč`}</strong>
    </div>
    <button class="btn" data-reservation>Rezervovat</button>
  </div>
</dialog>
