---
import Room from "../../components/room/Room.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const aboutCollection = await getCollection("rooms");

//const aboutContent = aboutCollection.find((entry) => entry.slug === lang);
const aboutContent = aboutCollection.find((entry) => entry.data.slug === lang);

if (!aboutContent) {
  throw new Error(`roomContent - Content for language ${lang} not found`);
}

const { data, body } = aboutContent;
const { title } = data;

const [
  description,
  room1Desc,
  room2Desc,
  room3Desc,
  room4Desc,
  room5Desc,
  room6Desc,
] = body?.split("<!-- split -->") ?? ["", ""];

interface Props {
  id: string;
}

const { id } = Astro.props;

const t = useTranslations(lang);
---

<section id={id}>
  <div class="container">
    <h2 class="title">{title}</h2>
    <p class="desc" set:html={description} />
  </div>
  <div class="rooms">
    <Room
      title={t("rooms.room1.title")}
      imgSrc="/images/rooms/room-1/room-1-1.avif"
      imgCount={3}
      galeryFolder="room-1"
      price={1200}
      id="1">
      <p slot="room-description" set:html={room1Desc} />
    </Room>
    <Room
      title={t("rooms.room2.title")}
      imgSrc="/images/rooms/room-2/room-2-1.avif"
      imgCount={2}
      galeryFolder="room-2"
      price={1600}
      id="2">
      <p slot="room-description" set:html={room2Desc} />
    </Room>
    <Room
      title={t("rooms.room3.title")}
      imgSrc="/images/rooms/room-3/room-3-1.avif"
      imgCount={3}
      galeryFolder="room-3"
      price={2100}
      id="3">
      <p slot="room-description" set:html={room3Desc} />
    </Room>
    <Room
      title={t("rooms.room4.title")}
      imgSrc="/images/rooms/room-4/room-4-1.avif"
      imgCount={2}
      galeryFolder="room-4"
      price={2500}
      id="4"
    >
      <p slot="room-description" set:html={room4Desc} />
    </Room>
    <Room
      title={t("rooms.room5.title")}
      imgSrc="/images/rooms/room-5/room-5-1.avif"
      imgCount={2}
      galeryFolder="room-5"
      price={2500}
      id="5">
      <p slot="room-description" set:html={room5Desc} />
    </Room>
    <Room
      title={t("rooms.room6.title")}
      imgSrc="/images/rooms/room-6/room-6-1.avif"
      imgCount={3}
      price={1600}
      galeryFolder="room-6"
      id="6">
      <p slot="room-description" set:html={room6Desc} />
    </Room>
  </div>
  <div class="container">
    <br /><br />
    <p class="center-text w-100">
      <p class="center-text w-100">
        {t("rooms.desc.under")}
        <a
          href="mailto:info@elendris.cz"
          class="link link--underline"
          rel="noopener"
          title=`${t('reservation.formLabel.email')}: info@elendris.cz`>
          info@elendris.cz
        </a>
      </p>
    </p>
  </div>
</section>

<script>
  import { initRooms } from "./Rooms.ts";

  document.addEventListener("DOMContentLoaded", () => {
    initRooms();
  });
</script>
